.app {
  text-align: center;
  background: linear-gradient(140deg, #0046FF, #FF4EA1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.title {
  font-size: 6rem;
  color: white;
}

.subtitle {
  font-size: 4rem;
  color: white;
}

.download {
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: 2px solid white;
  border-radius: 30px;
  background-color: white;
  color: #000;
}